<a href="https://colab.research.google.com/github/pravinppawar/Task-on-13-nov-2024/blob/main/Practice_on_random_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing imp libraries
import pandas as pd
import numpy as np

In [ ]:
# read dataset using pandas
df=pd.read_csv('/content/USA Housing Dataset.csv')
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-09 00:00:00,376000.0,3.0,2.00,1340,1384,3.0,0,0,3,1340,0,2008,0,9245-9249 Fremont Ave N,Seattle,WA 98103,USA
1,2014-05-09 00:00:00,800000.0,4.0,3.25,3540,159430,2.0,0,0,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014,USA
2,2014-05-09 00:00:00,2238888.0,5.0,6.50,7270,130017,2.0,0,0,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029,USA
3,2014-05-09 00:00:00,324000.0,3.0,2.25,998,904,2.0,0,0,3,798,200,2007,0,820 NW 95th St,Seattle,WA 98117,USA
4,2014-05-10 00:00:00,549900.0,5.0,2.75,3060,7015,1.0,0,0,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146,USA

In [ ]:
#get columns names
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [ ]:
list(df.columns)

['date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'street',
 'city',
 'statezip',
 'country']

In [ ]:
#datatypes of columns
df.dtypes

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [ ]:
df.dtypes.T

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [ ]:
df.size

74520

In [ ]:
df.shape

(4140, 18)

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
price,4140.0,553062.877289,583686.452245,0.0,320000.00,460000.00,659125.0,26590000.00
bedrooms,4140.0,3.400483,0.903939,0.0,3.00,3.00,4.0,8.00
bathrooms,4140.0,2.163043,0.784733,0.0,1.75,2.25,2.5,6.75
sqft_living,4140.0,2143.638889,957.481621,370.0,1470.00,1980.00,2620.0,10040.00
sqft_lot,4140.0,14697.638164,35876.838123,638.0,5000.00,7676.00,11000.0,1074218.00
floors,4140.0,1.514130,0.534941,1.0,1.00,1.50,2.0,3.50
waterfront,4140.0,0.007488,0.086219,0.0,0.00,0.00,0.0,1.00
view,4140.0,0.246618,0.790619,0.0,0.00,0.00,0.0,4.00
condition,4140.0,3.452415,0.678533,1.0,3.00,3.00,4.0,5.00
sqft_above,4140.0,1831.351449,861.382947,370.0,1190.00,1600.00,2310.0,8020.00
sqft_basement,4140.0,312.287440,464.349222,0.0,0.00,0.00,602.5,4820.00
yr_built,4140.0,1970.814010,29.807941,1900.0,1951.00,1976.00,1997.0,2014.00
yr_renovated,4140.0,808.368357,979.380535,0.0,0.00,0.00,1999.0,2014.00

In [ ]:
df.dtypes

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [ ]:
df.head().T

,0,1,2,3,4
date,2014-05-09 00:00:00,2014-05-09 00:00:00,2014-05-09 00:00:00,2014-05-09 00:00:00,2014-05-10 00:00:00
price,376000.0,800000.0,2238888.0,324000.0,549900.0
bedrooms,3.0,4.0,5.0,3.0,5.0
bathrooms,2.0,3.25,6.5,2.25,2.75
sqft_living,1340,3540,7270,998,3060
sqft_lot,1384,159430,130017,904,7015
floors,3.0,2.0,2.0,2.0,1.0
waterfront,0,0,0,0,0
view,0,0,0,0,0
condition,3,3,3,3,5
sqft_above,1340,3540,6420,798,1600
sqft_basement,0,0,850,200,1460
yr_built,2008,2007,2010,2007,1979
yr_renovated,0,0,0,0,0
street,9245-9249 Fremont Ave N,33001 NE 24th St,7070 270th Pl SE,820 NW 95th St,10834 31st Ave SW
city,Seattle,Carnation,Issaquah,Seattle,Seattle
statezip,WA 98103,WA 98014,WA 98029,WA 98117,WA 98146
country,USA,USA,USA,USA,USA

In [ ]:
df.date.head().T.drop_duplicates()

0    2014-05-09 00:00:00
4    2014-05-10 00:00:00
Name: date, dtype: object